:root {
  --primary: #318eba;
  --secondary: #20485b;
}
body[data-color="green"] {
  --primary: #31ba94;
  --secondary: #175b48;
}
body[data-color="red"] {
  --primary: #ba3731;
  --secondary: #4d1d1b;
}


body, html {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: var(--primary);
}
h2 {
  font-size: 35px;
  font-weight: bold;
  color: var(--primary);
}
h3 {
  font-size: 25px;
  font-weight: bold;
  color: var(--primary);
}
a {
  color: var(--primary);
}
a:hover {
  color: var(--secondary);
}
p {
  color: #272828;
}

img {
    width: 100%;
    height: auto;
}


header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 0 40px -20px #000;
    z-index: 100;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: var(--secondary);
    opacity: 0.8;
    z-index: -1;
}
nav {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
}
nav a {
    padding: 1em;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.logo {
  padding: 0 0 0 1rem;
  font-size: 1.4em;
}


.row + .row {
  margin-top: 40px;
}



/* color switch
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.color-switcher {
    /* position: absolute; */
    display: flex;
    gap: 0.5em;
    align-items: center;
    padding: 1em;
    margin-left: auto;
}
.color-switcher input {
    position: absolute;
    left: -9999px;
    top: -9999px;
}
.color-switcher label {
    position: relative;
    width: 1.2em;
    height: 1.2em;
    background: #000;
    border-radius: 50%;
    border: 2px solid #fff;
    opacity: 0.6;
    cursor: pointer;
}
.color-switcher input:checked + label,
.color-switcher label:hover {
  opacity: 1;
}
.color-switcher label[for="blue"] {
  background: #318eba;
}
.color-switcher label[for="red"] {
  background: #ba3731;
}
.color-switcher label[for="green"] {
  background: #31ba94;
}

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  font-weight: bold;
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}
.button:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section.values {
  text-align: center;
}
.values {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  color: #fff;
  opacity: .8;
  font-weight: 300;
}


/* Partner
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.partners {
    display: flex;
    width: 100%;
    gap: 2em;
}
.partners > .partner {
    flex: 1 1 auto;
    width: 100%;
    opacity: 0.6;
    transition: 0.3s ease 0s;
}
.partners > .partner:hover {
    opacity: 1;
}



/* Contact
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section.contact {
    background: #202020;
    color: #fff;
}
.section.contact p {
    color: #fff;
}


/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .section {
    padding: 14rem 0 15rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
}
