body, html {
margin: 0;
padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #22b2de;
}
h2 {
  font-size: 30px;
  font-weight: bold;
  color: #22b2de;
}
p {
  color: #6b5c57;
}



header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    box-shadow: 0 0 40px -20px #000;
    z-index: 100;
}
nav {
    text-align: center;
}
nav a {
    padding: 1em;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}